# Node / JS
node_modules/

# Next.js
.next/
out/

# NestJS / build outputs
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Prisma
prisma/dev.db
